* {
	padding: 0;
	margin: 0
}

/* --主菜单-- */
.dropdown {
	float: left;
	padding-right: 10px
}

.dropdown dt {
	width: 108px;
	border: 2px solid #B5CBE6;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	background: url(images/header.gif)
}

.dropdown dt:hover {
	background: url(images/header_over.gif)
}

/* --下拉菜单-- */
.dropdown dd {
	position: absolute;
	overflow: hidden;
	width: 126px;
	display: none;
	background: #fff;
	z-index: 100;
	opacity: 0
}

.dropdown ul {
	width: 116px;
	border: 1px solid #9ac1c9;
	list-style: none;
	border-top: none
}

.dropdown li {
	display: inline
}

.dropdown a,.dropdown a:active,.dropdown a:visited {
	display: block;
	padding: 4px;
	color: #333;
	text-decoration: none;
	background: #eaf0f2;
	width: 108px;
}

.dropdown a:hover {
	background: #d9e1e4;
	color: #000
}

.dropdown .underline {
	border-bottom: 1px solid #b9d6dc
}